name: CD

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy_prod:
    name: Preparing Production release
    if: ${{ github.repository == 'sws2apps/github-gcloud-cli' && github.ref == 'refs/heads/main' }}
    environment:
      name: Prod.env
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: main
          persist-credentials: false

      - name: Setup Node.js LTS
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: lts/Jod

      - name: Install dependencies
        run: npm ci

      - name: Run Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
