name: CD

on:
  workflow_dispatch:

permissions: read-all

jobs:
  deploy_prod:
    name: Preparing Production release
    if: ${{ github.repository == 'sws2apps/github-gcloud-cli' && github.ref == 'refs/heads/main' }}
    environment:
      name: Prod.env
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    strategy:
      matrix:
        node-version: [17.x]

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: main
          persist-credentials: false

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@8e58d20d0f6c8773181f43eb74d6a05e3099571d
        with:
          semantic_version: 19.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
